#svg-container {
    width: 75vw;
    height: 112vh;
    position: relative;
    margin: auto;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

#table {
    width: 46%;
    height: auto;
    display: block;
    margin: 0 auto;
    transform: rotate(-90deg);
}

.parent-grid {
    display: grid;
    grid-template-columns: 1.1fr 0.34fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    align-items: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
/* line {
    stroke: #000;
    stroke-width: 6;
    visibility: visible;
} */
